{% extends 'sidebar.html' %}
{% block content %}
<style>
    #first{
    position:relative;
    top:20px;
    margin-left:300px;
    background:white;
    width:250px;
    height:150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
    #second{
    margin-left:580px;
    position:absolute;
    margin-top:-130px;
    background:white;
    width:250px;
    height:150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
     #third{
    margin-left:860px;
    margin-top:-130px;
    background:white;
    width:250px;
    height:150px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
    #in1,#in2,#in3{
    position:relative;
    left:10px;
    top:10px;
    width:50px;
    height:50px;
    background:#EBF0FE;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
    #grphdiv{
    position:relative;
    top:20px;
    margin-left:300px;
    background:white;
    width:53%;
    height:560px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
     h4{margin:0px;}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
     function report(id) {
document.getElementById(id);
var fromdate = document.getElementById("fromdate").value;
var todate = document.getElementById("todate").value;

$.get("http://127.0.0.1:8000/dashboard?fromdate="+fromdate+"&todate="+todate, function(data, status)
   {
   //document.getElementById("table2").innerHTML = data;

   });



   }

</script>
<body bgcolor="EBF0FE">
<div id="first" class="container">  <!-- average in time -->
    <div id="in1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="blue" height="48" width="48"><path d="M18 5V2H30V5ZM22.5 27.35H25.5V15.85H22.5ZM24 43.95Q20.3 43.95 17.025 42.525Q13.75 41.1 11.3 38.65Q8.85 36.2 7.425 32.925Q6 29.65 6 25.95Q6 22.25 7.425 18.975Q8.85 15.7 11.3 13.25Q13.75 10.8 17.025 9.375Q20.3 7.95 24 7.95Q27.35 7.95 30.3 9.075Q33.25 10.2 35.55 12.2L38.1 9.65L40.2 11.75L37.65 14.3Q39.45 16.3 40.725 19.15Q42 22 42 25.95Q42 29.65 40.575 32.925Q39.15 36.2 36.7 38.65Q34.25 41.1 30.975 42.525Q27.7 43.95 24 43.95ZM24 40.95Q30.25 40.95 34.625 36.575Q39 32.2 39 25.95Q39 19.7 34.625 15.325Q30.25 10.95 24 10.95Q17.75 10.95 13.375 15.325Q9 19.7 9 25.95Q9 32.2 13.375 36.575Q17.75 40.95 24 40.95ZM24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Z"/></svg>
    </div>
    <h4 style="position:relative;top:15px;left:13px;">Average In time</h4>
    <h4 style="position:relative;left:5px;top:0px;font-size:60px;">{{averageintime}}</h4>
</div>

<div id="second" class="container">    <!-- average out time-->
    <div id="in2">
<svg xmlns="http://www.w3.org/2000/svg" fill="blue" height="48" width="48"><path d="M18 5V2H30V5ZM22.5 27.35H25.5V15.85H22.5ZM24 43.95Q20.3 43.95 17.025 42.525Q13.75 41.1 11.3 38.65Q8.85 36.2 7.425 32.925Q6 29.65 6 25.95Q6 22.25 7.425 18.975Q8.85 15.7 11.3 13.25Q13.75 10.8 17.025 9.375Q20.3 7.95 24 7.95Q27.35 7.95 30.3 9.075Q33.25 10.2 35.55 12.2L38.1 9.65L40.2 11.75L37.65 14.3Q39.45 16.3 40.725 19.15Q42 22 42 25.95Q42 29.65 40.575 32.925Q39.15 36.2 36.7 38.65Q34.25 41.1 30.975 42.525Q27.7 43.95 24 43.95ZM24 40.95Q30.25 40.95 34.625 36.575Q39 32.2 39 25.95Q39 19.7 34.625 15.325Q30.25 10.95 24 10.95Q17.75 10.95 13.375 15.325Q9 19.7 9 25.95Q9 32.2 13.375 36.575Q17.75 40.95 24 40.95ZM24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Q24 26 24 26Z"/></svg>
    </div>
    <h4 style="position:relative;top:15px;left:13px;">Average Out time</h4>
    <h4 style="position:relative;left:5px;top:0px;font-size:60px;">{{totalbreakhours}}</h4>
</div>

<div id="third" class="container">  <!-- average hours/day -->
    <div id="in3">
<svg xmlns="http://www.w3.org/2000/svg" fill="blue" height="48" width="48"><path d="M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H39Q40.2 6 41.1 6.9Q42 7.8 42 9V39Q42 40.2 41.1 41.1Q40.2 42 39 42ZM9 39H39Q39 39 39 39Q39 39 39 39V9Q39 9 39 9Q39 9 39 9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39ZM14.2 34.15H17.2V23.9H14.2ZM30.8 34.15H33.8V13.15H30.8ZM22.5 34.15H25.5V28.25H22.5ZM22.5 23.9H25.5V20.9H22.5ZM9 39Q9 39 9 39Q9 39 9 39V9Q9 9 9 9Q9 9 9 9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39Z"/></svg>
    </div>
    <h4 style="position:relative;top:15px;left:13px;">Average hours/day</h4>
    <h4 style="position:relative;left:5px;top:0px;font-size:60px;">{{averagehours}}</h4>

</div>
<div id="grphdiv"> <!-- graph div start-->
    <h4 style="position:relative;top:35px;left:45px;">Attendence(Hours)</h4>
    <!--<div style="position:relative;top:5px;left:550px;">
       <h4 style="position:relative;top:7px;left:-257px;font-size:16px;" >From Date:</h4>
        <input  type="date"style="position:relative;top:-22px;left:-162px;border-radius:10px;" onchange="report(this.id)" id="fromdate" name="fromdate" value="2022-06-01" >
        <h4 style="position:relative;top:-46px;left:-9px;font-size:16px;" >To Date:</h4>
        <input  type="date"style="position:relative;top:-73px;left:60px;border-radius:10px;" onchange="report(this.id)" id="todate" name="todate" value="2022-06-01" >
    </div>--><!-- calender div ending -->
    <canvas id="myChart" style="width:100%;max-width:750px;position:relative;top:33px;left:35px;"></canvas>  <!-- graph -->

</div> <!-- graph div ending -->
<script>
var xValues = ["Average In time","Average Out Time","Average Hours/Day"];
var yValues = [{{ averageintime }},{{ totalbreakhours }},{{ averagehours }}];
var barColors = ["#0000ffb3", "#0000ffb3","#0000ffb3"];

new Chart("myChart", {                                                     // graph function
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
    }
  }
});
</script>

</body>
{% endblock  %}
