{% extends 'sidebar.html' %}
{% block content %}
<style>
    #toppanel{
    position:relative;
    top:20px;
    margin-left:300px;
    background:white;
    width:75%;
    height:50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #022BBD1A, 0 6px 20px 0 #022BBD1A;
    }
    .btn1:hover{
    background-color:blue;
    color:white;
    }
    .btn2:hover{
    background-color:blue;
    color:white;
    }

    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 55%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


</script>
<body bgcolor="EBF0FE">
<div id="toppanel">
    <button onclick="location.href='/employeelist'" class="btn1" style="position:relative;left:10px;top:10px;width:15%;border:2px white;border-radius:10px;" >Employee List</button>
    <button onclick="location.href='/addemployee'" class="btn2" style="position:relative;left:25px;top:10px;width:15%;border:2px white;border-radius:10px;" >Add Employee</button>
</div>
<div style="position:relative;top:35px;left:300px;">
    <table>
  <tr>
    <th style="background-color:#0000ffb3;color:white;">Id</th>
    <th style="background-color:#0000ffb3;color:white">First name</th>
    <th style="background-color:#0000ffb3;color:white;">Last name</th>
      <th style="background-color:#0000ffb3;color:white;border:none;">Department</th>
  </tr>
        {% for y in employees %}
        <tr>
    <td>{{ y.id }}</td>
    <td>{{ y.firstname }}</td>
    <td>{{ y.lastname }}</td>
            <td>{{ y.role }}</td>

  </tr>
        {% endfor %}
    </table>

</div>


</body>
{% endblock  %}
